@font-face {
  font-family: "MiSans";
  src: url("/fonts/MiSans/MiSansVF.ttf") format("truetype");
  /* VF可变字体无需设置font-weight:  */
  /* TODO 提高加载速度 */
}

@keyframes fadeIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
:root {
  --textFocusColor: #80b1ff;
  --textColor: #80b1ff;
  /* 定义变量 */
  /* TODO 使用变量统一元素 */
}
* {
  font-family: "MiSans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  /* 1rem = 16px */
  color: var(--textColor);
  /* 通过变量引用默认字体颜色 */
}

html::before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -5;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

::selection {
  color: white;
  background-color: #a1c4fd;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  /* 禁止滚动 */
}

.mainbody {
  display: flex;
  position: relative;
  overflow: hidden;
  /* 隐藏溢出的内容 */
  margin: 10% auto;
  width: 56rem;
  height: 35rem;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 1.5rem;
  box-shadow: 0 0 2rem 0.1rem rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.mainbody .left {
  position: relative;
  width: 35%;
  height: 100%;
  background-color: #bae0fc;
}
.mainbody .left #加载提示 {
  display: block;
  width: 100%;
  text-align: center;
}
.mainbody .left::before {
  content: "";
  position: absolute;
  background-size: cover;
  /* background-image: url(/images/pz112528799.lite.png); */
  background-image: url(https://t.mwm.moe/mp);
  /* TODO 根据图片自动改变主题色 */
  background-position: center center;
  /* 设置背景图像的水平位置和垂直位置 */
  border-radius: 2px;
  width: 100%;
  height: 100%;
  opacity: 90%;
}

.mainbody .right {
  display: flex;
  flex-direction: column;
  /* 文本行堆叠的方向(垂直堆叠、列布局) */
  align-items: center;
  /* 交叉轴对齐方式，不能作用于子元素的子元素 */
  width: 65%;
}

.mainbody .right h1 {
  margin-top: 3rem;
  font-weight: 650;
}

.mainbody .right form {
  display: flex;
  /* 弹性布局，子元素可以灵活地进行布局 */
  flex-wrap: wrap;
  /* 允许子元素在需要时进行换行 */
  justify-content: center;
  /* 子元素水平方向居中 */
}

.mainbody .right form .输入框 {
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  /* 背景改透明 */
  color: rgba(94, 155, 255, 1);
  font-size: 1rem;
  width: 60%;
  height: 2.8rem;
  margin: 2.6rem auto 0.5rem auto;
  padding: 0 0.5rem 0 0.5rem;
  border-bottom: 1px solid rgba(94, 155, 255, 0.6);
  font-weight: 400;
  border-radius: 0.2rem;
}

.mainbody .right form .输入框::placeholder {
  color: rgba(128, 177, 255, 0.7);
}

.mainbody .right form .输入框:focus {
  border-bottom: 2px solid rgba(94, 155, 255, 1);
}
.mainbody .right form .输入框:focus::placeholder {
  color: var(--textColor);
}
/* TODO 输入时显示一个背景提高对比度 */

.mainbody .right form .提交 {
  outline: none;
  border: none;
  margin: 3.33rem 4rem 0rem 4rem;
  border-radius: 5rem;
  font-weight: 400;
  font-size: large;
  width: 15rem;
  height: 3.2rem;
  color: white;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.mainbody .right form .提交:hover {
  box-shadow: 0 0 1rem -0.2rem rgba(0, 0, 0, 0.15);
}

.账号相关 {
  display: flex;
  flex-wrap: wrap;
  /* 允许子元素在需要时进行换行 */
  justify-content: center;
  /* 水平方向均匀分布 */
  width: 100%;
  text-align: center;
  margin-top: 4rem;
}

.账号相关 #注册账号,
.账号相关 #找回密码 {
  width: auto;
  height: auto;
  margin-right: 5.5rem;
  color: rgba(128, 177, 255, 0.8);
  text-decoration: none;
  text-align: center;
}
.账号相关 #找回密码 {
  margin-right: 0;
  margin-left: 5.5rem;
}

.账号相关 #注册账号:hover,
.账号相关 #找回密码:hover {
  color: rgba(128, 177, 255, 1);
  text-decoration: underline 1px #80b1ff;
}

.mainbody .right #hitokotoBox {
  flex-wrap: wrap;
  position: absolute;
  bottom: 1px;
  font-size: 0.9rem;
}

.mainbody .right #hitokotoBox .hitokoto {
  color: #70a7ff;
  text-decoration: none;
}
.mainbody .right #hitokotoBox:hover .hitokoto#hitokotoMain {
  text-decoration: underline 1px #80b1ff;
}
.mainbody .right #hitokotoBox .hitokoto#hitokotoFrom {
  display: none;
}
/* ! 电脑端无法正常显示hitokotoFrom */
/* TODO 添加动画 */
/* .mainbody .right #hitokotoBox .hitokoto#hitokotoFrom {
  position: absolute;
  font-style: italic;
  font-size: 0.8rem;
  opacity: 0;
  z-index: 99;
  transition: opacity 0.8s ease-out;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.mainbody .right #hitokotoBox:hover .hitokoto#hitokotoFrom {
  opacity: 1;
}
.mainbody .right #hitokotoBox:not(:hover) .hitokoto#hitokotoFrom {
  opacity: 0;
} */

.作者链接 {
  position: absolute;
  right: -22px;
  bottom: 3px;
}

.作者链接 #gitee图标 {
  width: 40px;
  opacity: 5%;
}
