@font-face {
  font-family: "MiSans";
  src: url("/fonts/MiSans/MiSansVF.ttf") format("truetype");
  /* VF可变字体无需设置font-weight:  */
}

* {
  font-family: "MiSans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  /* 1rem = 16px */
  color: #80b1ff;
  /* 字体颜色 */
}

html::before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

::selection {
  color: white;
  background-color: #a1c4fd;
}

.mainbody {
  display: flex;
  position: relative;
  overflow: hidden;
  /* 隐藏溢出的内容 */
  margin: 10% auto;
  width: 56rem;
  height: 35rem;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 1.5rem;
  box-shadow: 0 0 2rem 0.1rem rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.mainbody .left {
  position: relative;
  width: 35%;
  height: 100%;
  background-color: #bae0fc;
}

.mainbody .left::before {
  content: "";
  position: absolute;
  background-size: cover;
  background-image: url(/images/pz112528799.lite.png);
  background-position: center center;
  /* 设置背景图像的水平位置和垂直位置 */
  border-radius: 2px;
  width: 100%;
  height: 100%;
  opacity: 90%;
}

.mainbody .right {
  width: 65%;
}

.mainbody .right h1 {
  margin-top: 3rem;
  text-align: center;
  font-weight: 650;
}

.mainbody .right form {
  display: flex;
  /* 弹性布局，子元素可以灵活地进行布局 */
  flex-wrap: wrap;
  /* 允许子元素在需要时进行换行 */
  justify-content: center;
  /* 子元素水平方向居中 */
}

.mainbody .right form .输入框 {
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  /* 背景改透明 */
  color: rgba(94, 155, 255, 1);
  font-size: 1rem;
  width: 60%;
  height: 2.8rem;
  margin: 2.6rem 0.3rem 0.5rem 0.3rem;
  padding: 0 0.5rem 0 0.5rem;
  border-bottom: 1px solid rgba(94, 155, 255, 0.6);
  font-weight: 400;
}

.mainbody .right form .输入框::placeholder {
  color: rgba(128, 177, 255, 0.7);
}

.mainbody .right form .输入框:focus {
  border-bottom: 2px solid rgba(94, 155, 255, 1);
}
.mainbody .right form .输入框:focus::placeholder {
  color: rgba(128, 177, 255, 1);
}

.mainbody .right form .提交 {
  outline: none;
  border: none;
  margin: 3.33rem 0 3rem 0;
  border-radius: 5rem;
  font-weight: 400;
  font-size: large;
  width: 15rem;
  height: 3.2rem;
  color: white;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.mainbody .right form .提交:hover {
  box-shadow: 0 0 1rem -0.2rem rgba(0, 0, 0, 0.15);
}

.账号相关 {
  justify-content: space-between;
  /* 水平方向均匀分布 */
  width: 100%;
  text-align: center;
  margin-top: 1.8rem;
}

#注册账号,
#找回密码 {
  width: auto;
  margin: 0 5.5rem 0 6rem;
  color: rgba(128, 177, 255, 0.8);
  text-decoration: none;
  text-align: center;
}

#注册账号:hover,
#找回密码:hover {
  color: rgba(128, 177, 255, 1);
  text-decoration: underline 1px #80b1ff;
}

#hitokotoBox {
  font-size: 0.9rem;
  margin-top: 3rem;
  text-align: center;
}

#hitokoto {
  color: #80b1ff;
  text-decoration: none;
}
#hitokoto:hover {
  text-decoration: underline 1px #80b1ff;
}

.作者链接 {
  position: absolute;
  right: -12px;
  bottom: 3px;
}

#gitee图标.作者链接 {
  width: 40px;
}

img.作者链接 {
  opacity: 5%;
}

/* .视频背景 {
  position: fixed;
  top: 0;
  bottom: 0;
  width: auto;
  margin: auto;
  height: 100%;
  z-index: -100;
} */
/* gitee就是 狗！东！西! */
