@import url(./main.css);
@media screen and (orientation: portrait) {
  /* 横向（landscape）和纵向（portrait） */
  body {
    overflow: hidden;
  }
  .mainbody {
    margin: auto;
    width: 95% !important;
    height: 95% !important;
  }
  .mainbody .left {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center 0 !important;
    z-index: -99;
    background-size: cover;
  }
  .mainbody .right {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 0;
  }
  .mainbody .right form .输入框 {
    width: 70%;
  }
  .mainbody .right form .提交 {
    width: 55vw;
    margin: auto;
    margin-top: 8vh;
  }
  .账号相关 {
    display: flex;
    justify-content: center;
    margin-top: 8vh !important;
  }
  .账号相关 #注册账号,
  .账号相关 #找回密码 {
    color: rgba(128, 177, 255, 1);
  }
  #注册账号 {
    margin-right: 14% !important;
  }
  #找回密码 {
    margin-left: 14% !important;
  }
  #hitokotoBox {
    display: block;
    position: absolute;
    bottom: 1%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
  }
  .mainbody .right #hitokotoBox .hitokoto#hitokotoFrom {
    display: inline;
    /* position: absolute; */
    font-style: italic;
    font-size: 0.8rem;
    opacity: 0;
    transition: opacity 0.8s cubic-bezier(0, 0, 0.2, 1);
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  .mainbody .right #hitokotoBox:hover .hitokoto#hitokotoFrom {
    opacity: 1;
  }
  .mainbody .right #hitokotoBox:not(:hover) .hitokoto#hitokotoFrom {
    opacity: 0;
  }
  /* TODO 优化触屏显示方式 */
}
